<md-tab-group>
  <md-tab *ngFor="let tab of tabs" label="{{tab.label}}">
    <div *ngFor="let command of tab.commands">

      <md-card>
        <md-input-container>
        <textarea  md-input rows="8" cols="200"
                  #box
                  [(ngModel)]="command.input"
                  (onFocus)="enterCommandArea(index)"
                  (onBlur)="leaveCommandArea()"
                  (keydown.control.enter)="execCommand(tab, command)"
                  (keydown.tab)="tabKey(box)"></textarea>
          <div *ngIf="command.output">
            <hr/>
            <pre>{{command.output}}</pre>
          </div>
        </md-input-container>
      </md-card>
    </div>
  </md-tab>
</md-tab-group>
